<app-header-component></app-header-component>
<div class="flex flex-col items-center px-4">
    <div class="flex flex-col items-center my-bg-light mt-8 p-4 rounded-4xl">
        @if (haveLocal() && local) {
        <h1 class="text-center p-4 pt-0 pb-0 text-2xl font-bold text-gray-700">{{ local().alias || local().name }}
        </h1>
        } @else {
        <h1 class="text-center p-4 pt-0 w-100 text-2xl font-bold text-blue-500">Loading list '{{ id() }}'</h1>
        }
        @if (haveRemote() && remote) {
        @if (activeItems) {
        <div class="flex flex-row gap-4 items-center p-4 rounded-4xl">
            <button flowbiteButton pill color="info" size="sm" class="pt-1 pb-1"
                [disabled]="!haveArchivedItems()" (click)="showRecentItems()">Recent</button>
            <button flowbiteButton pill color="info" size="sm" class="pt-1 pb-1"
                (click)="onVoiceClicked()"><flowbite-icon name="bootstrapSoundwave"
                    class="text-white block size-6 stroke-2" /></button>
        </div>
        <div class="flex flex-row gap-4 items-center" [style.visibility]="isAddingItem() ? 'visible' : 'hidden'"
            [style.height]="isAddingItem() ? 'auto' : '0px'">
            <input #itemName flowbiteFormControl type="text" [(ngModel)]="addingItemName" placeholder="item name"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-blue-500 rounded py-1 px-2 mb-3 mt-3 leading-tight focus:outline-none focus:bg-white"
                (keyup.enter)="onAddClicked()" />
            <button flowbiteButton pill color="info" size="xs" [disabled]="isBusy() || !isAddValid()"
                (click)="onAddClicked()">add</button>
        </div>
        @if (!activeItems().length) {
        <p class="mt-2">No items yet</p>
        } @else {
        <div class="w-fit mt-4">
            <table flowbiteTable [tableBody]="tableBody" [data]="activeItems()" class="fit-content text-gray-900">
                <ng-template #tableBody let-data>
                    <tr flowbiteTableBody>
                        <td scope="row" class="px-2 py-1 cursor-pointer" (click)="toggleDone(data)">
                            @if (data.done) {
                            <flowbite-icon name="matCheckBoxRound" class="text-green-700 block size-6 stroke-2" />
                            } @else {
                            <flowbite-icon name="matCheckBoxOutlineBlankRound" class="block size-6 stroke-2" />
                            }
                        </td>
                        <td class="px-6 py-1 text-lg cursor-pointer min-w-60 select-none" (click)="toggleDone(data)">@if
                            (data.quantity?.length) { <span>data.quantity</span> }{{ data.itemName
                            }}</td>
                        <td>
                            <flowbite-icon name="matIndeterminateCheckBox" class="text-red-700 block size-6 stroke-2"
                                (click)="archiveItem(data)" />
                        </td>
                    </tr>
                </ng-template>
            </table>
        </div>
        }
        <div class="flex flex-row gap-4 items-center p-4 rounded-4xl pt-4">
            <button flowbiteButton pill color="info" size="sm" class="pt-1 pb-1"
                [ngpDialogTrigger]="dialog">Share</button>
            <button flowbiteButton pill color="info" size="sm" class="pt-1 pb-1"
                (click)="onEditClicked()">Edit</button>
            <button flowbiteButton pill color="failure" size="sm" class="pt-1 pb-1"
                (click)="onFinishClicked()" [disabled]="activeItems().length == 0">Finish</button>
        </div>
        }
        } @else {
        <p class="mt-2">loading...</p>
        }
    </div>
</div>

<ng-template #dialog let-close="close">
    <div flowbiteModalOverlay>
        <div flowbiteModal class="flex flex-col items-center gap-8">
            <!-- <h3 flowbiteModalHeader class="text-6xl text-xl6 text-blue-500">Share</h3> -->
            <div flowbiteModalContent class="flex flex-col items-center">
                <h3 class="text-3xl font-bold">Share</h3>
                <div style="width: 256px" class="mb-0">
                    <qrcode class="fit-content" [qrdata]="listUrl()" [width]="256" [errorCorrectionLevel]="'M'"
                        [elementType]="'canvas'">
                    </qrcode>
                </div>
                <div flowbiteModalFooter class="flex flex-col items-center gap-4 pt-4">
                    <div><a href="{{ listUrl() }}" class="text-blue-500">{{ listUrl() }}</a></div>
                    <!-- This doesn't work, possibly due to tabIndex = -1 -->
                    <!-- <div flowbiteClipboard id="clipboard" value="install me"></div> -->
                    <button flowbiteButton color="info" outline class="w-full" (click)="close()">Close</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<app-recent-items #recentItems [items]="archivedItems ? archivedItems() : []"></app-recent-items>