<div class="flex flex-col gap-4 items-center">
    <h1 class="text-3xl">Test Grocery List Service</h1>
    @if (lists().length === 0) {
    <p>No lists found</p>
    } @else {

    <div class="flex gap-4 items-center content-center">
        @for (list of lists(); track list.id) {
            <button flowbiteButton (click)="selectList(list)" size="xs" pill>{{ list.name }}</button>
        }
        <button flowbiteButton (click)="addList()" color="info" size="xs" pill>Create</button>
    </div>
    }
    @if (selectedList() !== null) {
    <div class="flex flex-col items-center gap-4">
        <h2 class="text-xl">List: {{ selectedList()?.name }}</h2>
        <!-- Items: <pre>{{ items()?.items() | json}}</pre> -->
            
        @if (items()?.items()) {
            <app-tglsgrocery-list [items]="items()?.items()" (itemUpdated)="onItemUpdated($event)"></app-tglsgrocery-list>
        }
    </div>
    } @else {
    <p class="text-md">Select a list above or click 'Create'</p>
    }
</div>

<style>
    /* NOTE: need to reference css for variables in module here */
    /* https://tailwindcss.com/docs/functions-and-directives#reference-directive */
    /* TODO: Figure this out, this doesn't work.   Shouldn't be needed even? */
    @reference "../../app.css";
    /* .btn { @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full; } */
</style>